/* ================================= 
  Base layout styles
==================================== */

* {
	box-sizing: border-box;
}

p {
    font-size: .95em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
    line-height: 1.65;
}

.intro {
    font-size: 20px;
    font-weight: 300;
}

body {
    font-family: 'roboto', sans-serif;
}


.container {
	padding-left: .5em;
	padding-right: .5em;
}

.col {
    padding-left: .5em;
    padding-right: .5em;
}

.main-header {
	padding-top: 3em;
	padding-bottom: 1.5em;
    background: #f6fafa;
    background-position: center;
    margin: 0 auto;
}

ul {
    padding: 0px;
}

/* ================================= 
 Navigation layout styles
==================================== */

.name {
    font-size: 1.65em;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 25px;
}

.name a,
.main-nav a {
    display: block;
}

.main-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
    margin-bottom: 6px;
    /*display: block;*/
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.main-nav a {
    font-size: 1em;
    font-weight: 700;
	color: #070707;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav a:hover {
	color: #093a58;
}

/* ================================= 
 Portfolio section styles
==================================== */


.Portfolio {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.marketing-page {
    text-align: center;
    font-size: 16px;
}

.search-page {
    text-align: center;
    font-size: 16px;
}

.travel-app {
    text-align: center;
    font-size: 16px;
}

.map-spot {
    text-align: center;
    font-size: 16px;
}

.photo-gallery {
    text-align: center;
    font-size: 16px;
}

.calculator-device {
    text-align: center;
    font-size: 16px;
}

.logo {
    display: block;
    /* max-width: 300px; */
    margin: 30px auto;
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; */
    width: 80%;
}

.marketing {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

.search {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

.travel {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

.map {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

.photo {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

.calculator {
    display: block;
    margin: 30px auto;
    width: 100%;
    padding-left: none;
    padding-right: none;
}

/* ================================= 
  Footer layout styles
==================================== */


.Contact {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 16px;
}

.main-footer {
    padding-top: 1em;
	padding-bottom: 48px;
    background: #f6fafa;
    margin-top: 65px;
    padding-right: 8px;
    padding-left: 8px;
}

.phone a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.email a {
    text-align: center;
    text-decoration: none;
    margin-top: -10px;
    color: black;
    font-weight: bold;
}


#footer-line {
    margin-top: 50px;
    margin-bottom: 20px;
}


#footer-btp {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;

}

.footer-name {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.footer-nav,
.footer-nav li {
    display: inline;
}

#footer-home,
#footer-portfolio,
#footer-contact {
    display: none;
}

/* ================================= 
 float clearfix
==================================== */

.group::after {
    content: "";
    clear: both;
    display: table;
  }


/* ================================= 
  Media Queries for 768px breakpoint
==================================== */

  @media (min-width: 768px) {

    
    .primary,
    .secondary,
    .tertiary {
		width: 50%;
    }
    
    .container {
		width: 95%;
        margin: 0 auto;
    }
    
    .profile,
    .col {
		float: left;
    }

    .logo {
        float: right;
        width: 40%;
        padding-right: 8px;
    }

    .intro {
        width: 60%;
        margin: 30px 0;
        /* margin-top: 40px;
        margin-bottom: 40px; */
        float: left;
        text-align: left;
        padding-right: 18px;
        padding-left: 18px;
    }

    .main-nav {
        text-align: center;
    }

    .main-nav li {
        display: inline-block;
        list-style-type: none;
        background-color: #f6fafa;
        margin-left: 20px;
        margin-right: 20px;
    }

    #footer-home,
    #footer-portfolio,
    #footer-contact {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        margin-right: 20px;
    }

    #footer-contact {
        margin-right: 0;
    }


    .footer-nav ul li {
        float: left;
    }


    .footer-name {
        display: inline-block;
    }

    .footer-nav {
        float: right;
    }

    #footer-btp {
        display: none;
    }


    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}
 

/* ================================= 
  Media Queries for 1024px breakpoint
==================================== */

@media (min-width: 1024px) {

   .logo {
        /*float: right;
        width: 100%;
        height: 200px;*/
        padding-right: 8px; 
        padding-left: 8px;    
    }

    .intro {
        /* width: 60%;
        margin-top: 40px;
        margin-bottom: 40px;
        float: left;
        text-align: left; */
        padding-right: 25px;
        padding-left: 8px;
        
    }

    .container {
        width: 85%;
        max-width: 1150px;
        margin: 0 auto;
    }

    .primary,
    .secondary,
    .tertiary {
        width: 33.33%;
        display: inline-block;
    }

    .col {
		float: left;
    }

    .main-nav li {
       float: left;
    }

    .name {
        float: left;
        /*display: inline-block;
        margin: 0;*/
    }

    .main-nav {
        float: right;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

  
}  
    


 